<div class="team_puzzles_admin_widget">
	<h3>Started Puzzles: {{ puzzles.length }}</h3>
	<ul id="started-puzzles-widget">
		<div :id="'puzzle-' + puzzle.id" v-for="puzzle in sortedPuzzles" class="card">
			<button class="btn card-header"
					data-toggle="collapse"
					:data-target="'.puzzle-' + puzzle.id + '-detail'"
					aria-expanded="false">
				<h4>{{ puzzle.episode_name }}: {{ puzzle.title }}</h4>
				<div >
					<b>Total guesses:</b> {{ puzzle.num_guesses }} &emsp;
					<b>Started puzzle:</b> <human-datetime v-bind:value="puzzle.time_started" /> &emsp;
					<b>Latest guess:</b> <human-datetime v-bind:value="puzzle.guesses[0].given" /> &emsp;
					<b>Unlocks received:</b> {{ puzzle.clues_visible.length }}&emsp;
					<b>Hints scheduled:</b> {{ puzzle.hints_scheduled.length }}
				</div>
			</button>
			<div :class="'card-body ' +
			             'puzzle-' + puzzle.id + '-detail' +
			             (parseInt(anchor().substring(7)) == parseInt(puzzle.id) ? '' : ' collapse')"
				 data-parent="#started-puzzles-widget"
			>
				<h5>Clues Visible</h5>
				<b-table v-bind:fields="clue_fields" v-bind:items="puzzle.clues_visible" small striped>
					<template v-slot:received_at="row">
						<human-datetime v-bind:value="row.value" />
					</template>
				</b-table>
				<template v-if="puzzle.hints_scheduled.length > 0">
					<h5>Timed Hints Scheduled</h5>
					<ol class="hints">
						<li v-for="(hint, index) in puzzle.hints_scheduled">
							<human-datetime v-bind:value="hint.time" v-bind:title="hint.text" />
						</li>
					</ol>
				</template>
				<template v-else>
					<h5>No Timed Hints Scheduled</h5>
				</template>
				<h5>Recent Guesses</h5>
				<b-table v-bind:fields="guess_fields" v-bind:items="puzzle.guesses" small striped>
					<template v-slot:given="row">
						<human-datetime v-bind:value="row.value" />
					</template>
				</b-table>
			</div>
		</div>
	</ul>
	<h3>Solved Puzzles: {{ solved_puzzles.length }}</h3>
	<ul class="d-flex flex-wrap">
		<div :id="'puzzle-' + puzzle.id" v-for="puzzle in solved_puzzles" class="card solved-puzzle">
			<h4 class="card-header">{{ puzzle.title }}</h4>
			<span class="card-body">
				After <human-duration v-bind:value="puzzle.time_taken" /> with {{ puzzle.num_guesses }} guesses.
			</span>
		</div>
	</ul>
</div>
