{% extends "teams/base.html" %}

{% block page_header %}
<h1>{{ episode }}</h1>
{% if position %}
<p>You came {{ position }} in this episode!</p>
{% endif %}
{% endblock %}

{% block content %}
{% if flavour %}<div class="episode-flavour">{{ flavour | safe }}</div>{% endif %}
<div class="puzzles">
<ol>
{% for puzzle in puzzles %}
	<li>
{% if event_id %}
		<a href="{% url 'puzzle' event_id episode_number forloop.counter %}">{{ puzzle.title }}</a>
{% else %}
		<a href="{% url 'puzzle' episode_number forloop.counter %}">{{ puzzle.title }}</a>
{% endif %}
	</li>
{% endfor %}
</ol>
</div>
{% endblock %}
