{% extends "teams/base.html" %}
{% load hunter2urls %}

{% block page_header %}
<h1>{{event_title}}</h1>
{% endblock %}

{% block content %}

{% if episodes|length > 0 %}
<ul id="ep-list" class="nav nav-tabs">
{% for episode in episodes %}
<li role="presentation"><a href="#">{{ episode.name }}</a></li>
{% endfor %}
</ul>
<div class="tab-content">
{% for episode in episodes %}
<div class="tab-pane" id="{{ episode.name }}"></div>
{% endfor %}
</div>
{% else %}
<p>No episodes are available.<p> 
{% endif %}
<script>
$('#ep-list').tab();
$('#ep-list a:first').click();
</script>
{% endblock %}
