{% extends "teams/base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'hunts/css/guesses.css' %}" type="text/css" />
{% endblock %}
{% block script %}
<script src="{% static 'hunts/js/guesses.js' %}"></script>
{% endblock %}

{% block page_header %}
<h1>Guesses</h1>
{% endblock %}

{% block content %}
<p><a href="?">Clear filters</a></p>
<p><input type="checkbox" checked="checked" id="auto-update"> <label for="auto-update">Update automatically</label></p>
<div id="guesses-container">
	Waiting for content...
</div>
{% endblock %}

