<div id="guesses-container">
	<table id="guesses-table">
	<tr class="guess-viewer-header">
		<th>Episode</th>
		<th>Puzzle</th>
		<th>User &amp; Team</th>
		<th>Guess</th>
		<th>Time given</th>
		<th>Time on puzzle</th>
	</tr>
	{% for guess in guesses %}
	<tr class="guess-viewer-guess{% if guess.get_correct_for %} correct{% elif guess.unlocked %} unlocked{% endif %}">
		<td><a href="?episode={{ guess.episode.id }}">{{ guess.episode.name }}</a></td>
		<td><a href="?puzzle={{ guess.for_puzzle.id }}">{{ guess.for_puzzle.title }}</a></td>
		<td><span class="user">{{ guess.by.user.username }}</span> <span class="team">(<a href="?team={{ guess.by_team.id }}">{{ guess.by_team.name }}</a>)</span></td>
		<td><span class="guess">{{ guess.guess }}</span></td>
		<td>{{ guess.given }}</td>
		<td>{{ guess.time_on_puzzle }}</td>
	</tr>
	{% endfor %}
	</table>

<div class="pagination">
	<span class="step-links">
        {% if guesses.has_previous %}
            <a href="?page={{ guesses.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ guesses.number }} of {{ guesses.paginator.num_pages }}.
        </span>

        {% if guesses.has_next %}
            <a href="?page={{ guesses.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</div>

