{% extends "teams/base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block style %}
{% render_bundle 'hunts_guesses' 'css' %}
{{ block.super }}
{% endblock %}

{% block script %}
{% render_bundle 'hunts_guesses' 'js' %}
{{ block.super }}
{% endblock %}

{% block page_header %}
<h1>Guesses</h1>
{% endblock %}

{% block content %}
<p><a href="?">Clear filters</a></p>
<p><input type="checkbox" checked="checked" id="auto-update"> <label for="auto-update">Update automatically</label></p>
<div id="guesses-container">
	Waiting for content...
</div>
{% endblock %}

