{% extends "events/base.html" %}
{% load staticfiles %}

{% block script %} 
<script src="{% static 'hunts/js/hunts.js' %}"></script>
{% endblock %}
{% block content %}
{% if answered %}
<h2>Already Answered</h2>
{% endif %}
<h1>{{ title }}</h1>
<div class="puzzle-flavour">{{ flavour | safe }}</div>
<hr class="flavour-clue-divider">
<!-- CLUE STARTS HERE -->
{% comment %}Render puzzle text including HTML elements{% endcomment %}
{{ text | safe }}
<!-- CLUE ENDS HERE -->
<h2>Clues</h2>
<h3>Hints</h3>
<div id="hints">
{% for hint in hints %}
<p>{{hint.time}}: {{hint.text}}</p>
{% endfor %}
</div>
<h3>Unlocks</h3>
<div id="unlocks">
{% for unlock in unlocks %}
<p>{% for guess in unlock.guesses %}{{guess.guess}} {% endfor %}: {{unlock.text}}</p>
{% endfor %}
</div>
<hr />
{% if not answered %}
<form class="form-inline" action="an" method="POST">
	{% csrf_token %}
	<input name="answer" id="answer-entry" class="form-control"></input>
	<button type="submit" id="answer-button" class="btn btn-default">Guess!</button>
</form>
{% endif %}
{% if hints %}

{% endif %}
{% endblock %}
