{% extends "teams/base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block style %}
{{ block.super }}
{% render_bundle 'hunts_puzzle' 'css' %}
{% endblock %}

{% block script %}
{% render_bundle 'hunts_puzzle' 'js' attrs='defer' %}
{% endblock %}

{% block page_header %}
<h1>{{ title }}</h1>
{% endblock %}

{% block content %}
{% if flavour %}
<section id="puzzle-flavour">
	<!-- This is just flavour text - not related to the puzzle! -->
	<span id="flavour-intro">Story: </span>
	{{ flavour | safe }}
</section>
{% endif %}
<section id="puzzle-content" class="flex-grow-1">
<!-- CLUE STARTS HERE -->
{{ text | safe }}
<!-- CLUE ENDS HERE -->
</section>
<section id="puzzle-clues">
<h3>Hints</h3>
{% for hint in hints %}
<p>{{hint.time}}: {{hint.text}}</p>
{% endfor %}
<h3>Unlocks</h3>
{% for unlock in unlocks %}
<p>{% for guess in unlock.guesses %}{{guess}}{% if not forloop.last %}, {% endif %}{% endfor %}: {{unlock.text}}</p>
{% endfor %}
</section>
<section id="puzzle-answer">
{% if answered %}
<h2>Your correct answer{{ answered|pluralize }}</h2>
<div id="answer">
{% for guess in answered %}
<p>"{{ guess.guess }}" &mdash; entered by {{ guess.by.username }}</p>
{% endfor %}
</div>
{% elif ended %}
<h2>Event is over</h2>
{% endif %}
{% if admin or not answered and not ended %}
<form class="form-inline" action="an" method="POST">
	{% csrf_token %}
	<span id="answer-border">
		<input name="answer" id="answer-entry" class="form-control" placeholder="Enter guess" />
	</span>
	<button type="submit" id="answer-button" class="btn btn-primary" disabled="disabled">Guess!</button>
</form>
{% endif %}
{% if ended or admin %}
<button id="soln-button" class="btn btn-primary" data-toggle="collapse" data-target="#soln-content" data-url="{% url 'solution_content' episode_number=episode_number puzzle_number=puzzle_number %}">Show Solution</button>
<div id="soln-content" class="card card-body collapse">
</div>
{% endif %}
</section>
{% endblock %}
