{% extends "events/base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block style %}
{{ block.super }}
{% render_bundle 'hunts_stats' 'css' %}
{% endblock %}
{% block script %}
{% render_bundle 'hunts_stats' 'js' attrs='defer' %}
{% endblock %}

{% block page_header %}
<h1>Stats</h1>
{% endblock %}

{% block content %}
<div id="stats">
	{% for id, heading, content in stats %}
	<div class="card">
		<div class="card-header" id="heading-{{ id }}">
			<h5 class="mb-0">
				<button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{ id }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapse-{{ id }}">
					{{ heading }}
				</button>
			</h5>
		</div>
		<div id="collapse-{{ id }}" class="collapse{% if forloop.first %} show{% endif %}" aria-labelledby="heading-{{ id }}" data-parent="#stats">
			<div class="card-body">
				{{ content }}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
