#guesses-table tr.correct {
	background-color: #4d4;
}

#guesses-table tr.unlocked {
	background-color: #ccf;
}

#guesses-table tr.correct:nth-child(even) {
	background-color: #3c3;
}

#guesses-table tr:nth-child(even) {
	background-color: #eee;
}

#guesses-table tr.guess-viewer-header {
	border-bottom: 1px solid #666;
}

#guesses-table td, #guesses-table th {
	padding: 3pt 6pt 3pt 6pt;
}

#guesses-table {
	max-width: 100%;
}

#guesses-table td {
	white-space: nowrap;
}

#guesses-table td.guess {
	word-break: break-all;
	white-space: normal;
	/*max-height: 4em;*/
}

.guess-viewer-guess .puzzle-links {
	font-size: 75%;
}

.guess-viewer-guess .puzzle-links a {
	font-weight: bold;
}

.container {
	width: auto;
}
