#guesses-table tr.correct {
	background-color: #4d4;
}

#guesses-table tr.unlocked {
	background-color: #ccf;
}

#guesses-table tr.correct:nth-child(even) {
	background-color: #3c3;
}

#guesses-table tr:nth-child(even) {
	background-color: #eee;
}

#guesses-table tr.guess-viewer-header {
	border-bottom: 1px solid #666;
}

#guesses-table td, #guesses-table th {
	padding: 3pt 6pt 3pt 6pt;
}
