{% extends "base.html" %}

{% block style %}{% spaceless %}
{% if event_style %}
<style>{{ event_style | safe }}</style>
{% else %}
{{ block.super }}
{% endif %}
{% endspaceless %}{% endblock %}

{% block title %}{{ event.name }}{% endblock %}

{% block script %}{% spaceless %}
{% if event_script %}
<script defer>{{ event_script | safe }}</script>
{% else %}
{{ block.super }}
{% endif %}
{% endspaceless %}{% endblock %}

{% block topbar_title %}
	<a class="navbar-brand" href="{% url 'index' %}">{{ event.name }}</a>
{% endblock %}

{% block topbar_left %}
	{% if event %}
		<li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
		<li class="nav-item"><a class="nav-link" href="{% url 'rules' %}">Rules</a></li>
		<li class="nav-item"><a class="nav-link" href="{% url 'help' %}">Help</a></li>
		{% if event.is_over %}
		<li class="nav-item"><a class="nav-link" href="{% url 'player_stats' %}">Stats</a></li>
		{% endif %}
	{% endif %}
{% endblock %}
