{% extends "base.html" %}

{% block style %}{% spaceless %}
{% if event.theme.style %}
<style>{{ event.theme.style }}</style>
{% else %}
{{ block.super }}
{% endif %}
{% endspaceless %}{% endblock %}

{% block script %}{% spaceless %}
{% if event.theme.script %}
<script>{{ event.theme.script }}</script>
{% else %}
{{ block.super }}
{% endif %}
{% endspaceless %}{% endblock %}

{% block topbar_left %}
<li><a class="navbar-brand" href="{% url 'event' event.id %}">{{ event.name }}</a></li>
{{ block.super }}
<li><a class="navbar-nav" href="{% url 'about' event.id %}">About</a></li>
<li><a class="navbar-nav" href="{% url 'rules' event.id %}">Rules</a></li>
<li><a class="navbar-nav" href="{% url 'help' event.id %}">Help</a></li>
{% endblock %}
