{% extends "base.html" %}

{% block style %}{% spaceless %}
{% if event.theme.style %}
<style>{{ event.theme.style }}</style>
{% else %}
{{ block.super }}
{% endif %}
{% endspaceless %}{% endblock %}

{% block script %}{% spaceless %}
{% if event.theme.script %}
<script>{{ event.theme.script }}</script>
{% else %}
{{ block.super }}
{% endif %}
{% endspaceless %}{% endblock %}

{% block topbar %}{% spaceless %}
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="navLogin">{{ event.name }}<span class="caret"></span></a>
	<ul class="dropdown-menu">
{% for e in events %}
		<li><a href="/event/{{ e.id }}/">{{ e.name }}</a></li>
{% endfor %}
	</ul>
</li>
{% endspaceless %}{% endblock %}
