# Ignore dotfiles in the top level dir (eg. .coverage or .git)
.*
# Ignore docker-related files
Dockerfile
Dockerfile.*
docker-compose.yml
docker-compose.*.yml
# Ignore coverage report folder
coverage
# Ignore nginx folder
nginx
