# Ignore dotfiles in the top level dir (eg .git)
.*
!.coveragerc

# Ignore docker-related files
Dockerfile
Dockerfile.*
docker-compose.yml
docker-compose.*.yml

# Ignore coverage report folder
coverage

# Ignore other docker image folders
nginx
webpack
prometheus

# Ignore webpack/npm/css configuration
webpack-stats.json

# Ignore content outputted by the webpack-dev-server
assets
node_modules

# Ignore generated caches
__pycache__
