[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Django = "*"
PyYAML = "*"
channels = "*"
channels_redis = "*"
colour-runner = "*"
coverage = "*"
django-allauth = { git = "https://github.com/riconnon/django-allauth.git", ref = "0.36.0+stateless" }
django-analytical = "*"
django-autocomplete-light = "*"
django-debug-toolbar = "*"
django-enumfields = "*"
django-environ = "*"
django-extensions = "*"
django-fullclean = { git = "https://github.com/riconnon/django-fullclean.git", ref = "0.0.4+whitelist" }
django-nested-admin = "*"
django-prometheus = "*"
django-sendfile = "*"
django-solo = "*"
django-sortedm2m = "*"
django-sortedm2m-filter-horizontal-widget = "*"
django-tenants = { git = "https://github.com/tomturner/django-tenants.git", ref = "0a5ff14478e44f55ea566d020e0252bb6ca5ac24" }
django-url-tools-py3 = "*"
factory_boy = "*"
freezegun = "*"
lupa = "*"
parameterized = "*"
psycopg2 = "*"
python3-openid = "*"
raven = "*"
rules = "*"
validators = "*"
wait = "*"


[dev-packages]

django-silk = "==0.7.0"
ipython = "*"
ptpython = "*"
