[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Django = "<2.0"
PyYAML = "*"
colour-runner = "*"
coverage = "*"
django-allauth = { git = "https://github.com/riconnon/django-allauth.git", ref = "0.36.0+stateless" }
django-analytical = "*"
django-autocomplete-light = "*"
django-debug-toolbar = "*"
django-enumfields = "*"
django-environ = "*"
django-extensions = "*"
django-fullclean = { git = "https://github.com/riconnon/django-fullclean.git", ref = "0.0.4+whitelist" }
django-nested-admin = "*"
django-sendfile = "*"
django-solo = "*"
django-sortedm2m = "*"
django-tenants = { git = "https://github.com/riconnon/django-tenants.git", ref = "v1.3.4+1" }
django-url-tools-py3 = "*"
django-uwsgi = "*"
factory_boy = "*"
freezegun = "*"
lupa = "*"
parameterized = "*"
psycopg2 = "*"
raven = "*"
rules = "*"
subdomains = "*"
uWSGI = "*"
validators = "*"
wait = "*"


[dev-packages]

django-silk = "==0.7.0"
ipython = "*"
ptpython = "*"
