{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>The iHunt</title>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="{% static 'hunter2/css/base.css' %}" type="text/css" />
		<script src="{% static 'hunter2/js/base.js' %}"></script>

		{% block style %}{% endblock %}
		{% block script %}{% endblock %}
	</head>
	<body>
		<noscript>
			You do not have JavaScript Enabled. JavaScript is required to access and take part in the iHunt.
		</noscript>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="site-navbar-collapse-1">
					<ul class="nav navbar-nav">
						{% block topbar %}{% endblock %}
						<li class="button"><a href="{% url 'index' %}">Home</a></li>
						<li class="button"><a href="{% url 'help' %}">Help</a></li>
						<li class="button"><a href="{% url 'faq' %}">FAQ</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
						<li class="button">
							<a href="#" id="navUser">{{ user.username }}</a>
						</li>
						<li class="button">
							<a href="{% url 'account_logout' %}?next={{ request.path }}">Logout</a>
						</li>
						{% else %}
						<li>
							<a href="{% url 'account_login' %}" id="navLogin">Login</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
		{% block debug %}{% endblock %}
    <div class="container">
        {% for announcement in announcements %}
        <div class="alert {{ announcement.css_type }} fade in">
            <strong>{{ announcement.title }}</strong> {{ announcement.message }}
        </div>
        {% endfor %}
      <div class="page-header">
        {% block page_header %}{% endblock page_header%}
      </div>
      {% block content %}
        If you're seeing this, it's all gone wrong!
      {% endblock content %}
    </div>
    <footer class="footer">
      <div class="container">
        <div style="float: left; width: 33%;font-size: 10px;text-align: left;padding-left: 15px;color: #646464;">
          Riddlers Online: 0 <br />
          Teams Online: 0
        </div>
        <div style="float: left; width: 33%; text-align: center;">
          Copyright &copy; 2016 <br />
          <a href="https://www.theihunt.uk">https://www.theihunt.uk</a>
        </div>
      </div>
    </footer>

	</body>
</html>
