{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>The iHunt</title>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha384-8C+3bW/ArbXinsJduAjm9O7WNnuOcO+Bok/VScRYikawtvz4ZPrpXtGfKIewM9dK" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="{% static "ihunt/css/base.css" %}" type="text/css" />
		<script src="{% static "ihunt/js/base.js" %}"></script>

		{% block style %}{% endblock %}
		{% block script %}{% endblock %}
	</head>
	<noscript>
		You do not have JavaScript Enabled. JavaScript is required to access and take part in the iHunt.
	</noscript>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="site-navbar-collapse-1">
					<ul class="nav navbar-nav">
						{% block topbar %}{% endblock %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="navUser">{{ user.username }}<span class="caret" /></a>
							<ul class="dropdown-menu">
								<li><a href="/logout">Logout</a></li>
							</ul>
						</li>
						{% else %}
						<li>
							<a href="#">Register</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="navLogin">Login<span class="caret" /></a>
							<div class="dropdown-menu">
								<div class="container-fluid">
									<form class="form" id="formLogin" action="/login" method="post">
										{% csrf_token %}
										<input name="username" id="username" placeholder="Username" type="text" />
										<input name="password" id="password" placeholder="Password" type="password" />
										<button type="submit" id="btnLogin" class="btn">Login</button>
									</form>
								</div>
							</div>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
		{% block debug %}{% endblock %}
		<div id="banner_top">
		</div>
		<div id="arrows">
			<div id="content">
				<div id="banner_bottom">
					<div id="inumber-1" style="background-image:url(/static/images/summer/5.png)"></div>
					<div id="inumber-2" style="background-image:url(/static/images/summer/2.png)"></div>
				</div>
				<div id="nav_user">
						<div class="align_left">
							<a href="{% url "logout" %}"><button type="button" class="buttonInput" >Logout</button></a>
						</div>
						<div class="align_right">
								Logged in as:
									<span style="font-weight: bold; color: #FFB272;">{{ request.user.username }}&nbsp;</span>
								<br />
								Team:
									<span id="userTeamName" style="font-weight: bold; color: #00CDCD;">{{ team.name }}</span>
						</div>

						<div class="align_left">
							<button type="button" class="buttonInput" onclick="displayLightbox('New User Registraiton','inc/be/ajax/newUser.php?life=', 'GET', 710, 800);">Register</button>
						</div>
						<div class="align_right">
						</div>
				</div>
				<div id="nav_user2">
					<ul id='menu'>
						<li class="button"><a href='{% url "index" %}'>Home</a></li>
						<li class="button"><a href='{% url "help" %}'>Help</a></li>
						<li class="button"><a href='{% url "faq" %}'>FAQ</a></li>
						{% if request.user.is_authenticated %}
							<li class="button"><a href='{% url "hunt" %}'>The iHunt</a></li>
						{% else %}
							<li class="button"><a href='password_reset'>Password Reset</a></li>
						{% endif %}
					</ul>
				</div>
				<div id="content_main">
				{% block content %}
					If you're seeing this, it's all gone wrong!
				{% endblock content %}
				</div>
			</div>
			<div id="footer">
				<div style="float: left; width: 25%;font-size: 10px;text-align: left;padding-left: 15px;color: #646464;">
					Riddlers Online: 0 <br />
					Teams Online: 0
				</div>
				<div style="float: left; width: 47%;">
					Copyright &copy; 2016 <br />
					<a href="http://ihunt.multiplay.co.uk">http://ihunt.multiplay.co.uk</a>
					<br /><br />
				</div>
			</div>
		</div>  
	</body>
</html>
