<!DOCTYPE html>
<html>
	<head>
		<title>The iHunt</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
		{% block style %}{% endblock %}
		<script src="/static/js/jquery-2.2.0.js"></script>
		{% block script %}{% endblock %}
	</head>
	<noscript>
		You do not have JavaScript Enabled. JavaScript is required to access and take part in the iHunt.
	</noscript>
	<body>
		<div id="banner_top">
		</div>
		<div id="arrows">
			<div id="content">
				<div id="banner_bottom">
					<div id="inumber-1" style="background-image:url(/static/images/summer/5.png)"></div>
					<div id="inumber-2" style="background-image:url(/static/images/summer/2.png)"></div>
				</div>
				<div id="nav_user">
					{% if request.user.is_authenticated %}
						<div class="align_left">
							<a href="{% url "logout" %}"><button type="button" class="buttonInput" >Logout</button></a>
						</div>
						<div class="align_right">
								Logged in as:
									<span style="font-weight: bold; color: #FFB272;">{{ request.user.username }}&nbsp;</span>
								<br />
								Team:
									<span id="userTeamName" style="font-weight: bold; color: #00CDCD;">{{ team.name }}</span>
						</div>

					{% else %}
						<div class="align_left">
							<button type="button" class="buttonInput" onclick="displayLightbox('New User Registraiton','inc/be/ajax/newUser.php?life=', 'GET', 710, 800);">Register</button>
						</div>
						<div class="align_right">
							
								<form name="ihunt_userLogin" method="POST" action="{% url "login" %}">
								{% csrf_token %}
								Username: <input name="username" type="text" class="textInput"  size="20" maxlength="30"/> 
								Password: <input name="password" type="password" class="textInput" size="20" maxlength="40"/> <input class="buttonInput" type="submit" value="Submit"/>
								</form>
								
						</div>
					{% endif %}
				</div>
				<div id="nav_user2">
					<ul id='menu'>
						<li class="button"><a href='{% url "index" %}'>Home</a></li>
						<li class="button"><a href='{% url "help" %}'>Help</a></li>
						<li class="button"><a href='{% url "faq" %}'>FAQ</a></li>
						{% if request.user.is_authenticated %}
							<li class="button"><a href='{% url "hunt" %}'>The iHunt</a></li>
						{% else %}
							<li class="button"><a href='password_reset'>Password Reset</a></li>
						{% endif %}
					</ul>
				</div>
				<div id="content_main">
				{% block content %}
					If you're seeing this, it's all gone wrong!
				{% endblock content %}
				</div>
			</div>
			<div id="footer">
				<div style="float: left; width: 25%;font-size: 10px;text-align: left;padding-left: 15px;color: #646464;">
					Riddlers Online: 0 <br />
						   Teams Online: 0			</div>
				<div style="float: left; width: 47%;">
					Copyright &copy; 2015 <br /> <a href="http://ihunt.multiplay.co.uk">http://ihunt.multiplay.co.uk</a><br /><br />
				</div>
			</div>
		</div>  
	</body>
</html>

