{% extends "event.html" %}

{% block content %}
<p id="page_title">Home</p>
<div style="text-align:center;"><img src="uploads/survivorswanted.jpg"></div>
<h2>What is the iHunt?</h2>
The iHunt is an online & offline <a href="http://en.wikipedia.org/wiki/Puzzle_hunt">puzzle hunt</a> at the i-Series. Teams race to find clues hidden around the venue, interact with strange physical devices, solve cool challenges and be crowned iHunt champions; <b>winning four free tickets to the next i-series in the process!</b><br /><br />
There are two days of riddles (Sat-Sun), each of which should only last a few hours, leaving plenty of time for gaming.  After each day, we will organise a meet-up to discuss the day's events.
<br />
<br />
<h2>Where do I start?</h2>
All you need to do is create an	account and you're ready to go!	<b>Click the 'Register' button at the top-left of this page to get started.</b>
<br />
<br />
Make sure you have Flash Player installed, Javascript enabled in your browser and POP-UP Blockers Turned OFF or allowed for this Site! You'll probably also find it handy to have a notebook to hand to write down ideas and solutions.
<br />
<br />
<h2>What will I be doing?</h2>
<table>
<tr>
<td style="text-align: center;" width="50%">
Finding hidden things like this:<br /><br />
<iframe width="420" height="315" src="http://www.youtube.com/embed/VZk5Qvw6npQ" frameborder="0" allowfullscreen></iframe>
</td>
<td style="text-align: center;" width="50%">
Or not so hidden things like this:<br /><br />
<img src="/static/images/dispenser.jpg" width="239" height="320">
</td>
</tr>
<tr>
<td style="text-align: center;" colspan="2">
And solving puzzles like this:<br /><br />
<img src="/static/images/cans.jpg" width="500" height="333">
</td>
</table>

<br />
<h2>Interviews with previous Winners</h2>
<iframe width="420" height="315" src="http://www.youtube.com/embed/Sdjw2kC6rdk" frameborder="0" allowfullscreen></iframe>
<iframe width="420" height="315" src="http://www.youtube.com/embed/XAMdepTRaPw" frameborder="0" allowfullscreen></iframe>

<br />
<br />
<h2>Rules &amp; General info</h2>
<ul>
	<li>You win The iHunt by answering all the questions as fast as possible and being the first to reach the end - not by cheating!<br /><br /></li>
	<li>It is not allowed to try to hack the server or access any restricted areas. WE WILL KNOW - So dont even try!<br /><br /></li>
	<li>Removing or vandalising clues is really uncool and ruins it for everyone else. Leave them as you found them.<br /><br /></li>
	<li>The maximum team size is 4 however it is subject to change.<br /><br /></li>
	<li>All riddle answers are case-insensitive, it doesn't matter if you have capital letters or not!<br /><br /></li>
	<li>The riddle answers are almost never completely random letters and numbers unless the answer is given to you explicitly, answers can be a combination of words and numbers, hexadecimal and binary digits or anything else without special characters.<br /><br /></li>
	<li>Do not post tasks, answers or clues in the forum thread or in the iHunt IRC.<br /><br /></li>
	<li>Teams may make alliances in private however this is discouaged to try and make things fair. Please remember though that the winning team who gets the golden tickets is the first team to correctly answer all questions so don't shoot yourself in the foot. There is no prize for second place!<br /><br /></li>
	<li>If you seem to have a problem of a technical nature, please contact Cyphus, Jenesis, or Jingles via the forums or IRC. Exploiting bugs will result in disqualification so if you are unsure if somthing is a bug or not ask first.<br /><br /></li>
	<li>Oh yeah, this site uses HTML5 and CSS3 so use an up-to-date browser.</li>
</ul>
{% endblock %}
