{% extends 'events/base.html' %}
{% load static %}

{% block script %}
<script src="{% static 'teams/js/team.js' %}" defer></script>
{% endblock %}

{% block content %}
<h1>{{ team }}</h1>
<h2>Members</h2>
<ul id="member-list">
{% for u in members %}
<li>{{ u.user.username }}</li>
{% endfor -%}
</ul>
<h2>Invites</h2>
<ul id="inv-list">
{% for u in invites %}
	<li>
		{{ u.user.username }}
		<button type="button" class="btn btn-danger inv-cancel" autocomplete="off" data-user="{{ u.pk }}">Cancel</button>
	</li>
{% endfor -%}
</ul>
<form id="inv-create" action="invite" method="post">
	{{ invite_form }}
	<input type="submit" value="Invite" />
</form>
{{ invite_form.media }}
{% if requests %}
<h2>Requests</h2>
<ul id="req-list">
{% for u in requests %}
	<li>
		{{ u.user.username }}
		<button type="button" class="btn btn-success req-accept" autocomplete="off" value="{{ u.pk }}">Accept</button>
		<button type="button" class="btn btn-danger req-deny" autocomplete="off" value="{{ u.pk }}">Deny</button>
	</li>
{% endfor -%}
</ul>
{% endif %}
{% endblock %}
