{% extends 'events/event.html' %}
{% load static %}

{% block script %}
<script src="{% static 'teams/js/team.js' %}" defer></script>
{% endblock %}

{% block content %}
<h1>{{ team }}</h1>
<h2>Members</h2>
<ul id="member-list">
{% for u in members %}
<li>{{ u.user.username }}</li>
{% endfor %}
</ul>
{% if invited %}
<div id="inv-div">
	<h2>Invite</h2>
	<p>
		You have been invited to join this team.
		<button type="button" class="btn btn-success inv-accept" autocomplete="off">Accept</button>
		<button type="button" class="btn btn-danger inv-deny" autocomplete="off">Deny</button>
	</p>
</div>
{% endif %}
{% if requested %}
<div id="req-div">
	<h2>Request</h2>
	<p>
		You have requested to join this team.
		<button type="button" class="btn btn-danger req-cancel" autocomplete="off">Cancel</button>
	</p>
</div>
{% elif requestable %}
<div id="req-div">
	<h2>Request</h2>
	<p>
		Request to join this team:
		<button type="button" class="btn btn-primary req-create" autocomplete="off">Request</button>
	</p>
</div>
{% endif %}
{% endblock %}
