{% extends 'teams/base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block style %}
{{ block.super }}
{% render_bundle 'teams_manage' 'css' %}
{% endblock %}

{% block content %}
<h1>{{ team }}</h1>
<h2>Members</h2>
{% spaceless %}
<div id="member-list" class="member-list">
{% for member in members.all %}
	<div class="member">
		<h3><a href="{{ member.user.info.get_absolute_url }}">{{ member.username }}</a></h3>
		{% if member.user.info.picture %}
			<img src="{{ member.user.info.picture }}" alt="{{ member.username }}" />
		{% endif %}
		<p>
		{% if member.seat %}
			Seat {{ member.seat }}
		{% endif %}
		</p>
	</div>
{% endfor %}
</div>
{% endspaceless %}
{% endblock %}
