ul#admin_nav {
	list-style-position: inherit;
	list-style-type: none;
	height: 136px;
}

ul#admin_nav li {
	display: inline;
	width: 136px;
	float: left;
	background-position: bottom;
}

ul#admin_nav .users {
	background-image:url(../images/users.png);
	width: 136px;
	height: 136px;
	background-repeat: no-repeat;
	margin-right: 10px;
	margin-left: 10px;
}

ul#admin_nav .teams {
	background-image:url(../images/teams.png);
	width: 136px;
	height: 136px;
	background-repeat: no-repeat;
	margin-right: 10px;
	margin-left: 10px;
}

ul#admin_nav .riddles {
	background-image:url(../images/riddles.png);
	width: 136px;
	height: 136px;
	background-repeat: no-repeat;
	margin-right: 10px;
	margin-left: 10px;
}

ul#admin_nav .logs {
	background-image:url(../images/logs.png);
	width: 136px;
	height: 136px;
	background-repeat: no-repeat;
	margin-right: 10px;
	margin-left: 10px;
}

ul#admin_nav .settings {
	background-image:url(../images/settings.png);
	width: 136px;
	height: 136px;
	background-repeat: no-repeat;
	margin-right: 10px;
	margin-left: 10px;
}

ul#admin_nav li:hover {
	background-position: 0 0;
}

#admin_icon  {
	height: 35px;
	width: 150px;
	float: right;
	padding-bottom: -50px;
}