{% load render_bundle from webpack_loader %}
<script>
	window.episode_progress = {
	{% for episode in episode_progress %}
		"{{ episode.id }}": {{ episode.data }},
	{% endfor %}
	}
</script>
{% render_bundle 'hunts_stats_progress' 'js' attrs='defer' %}

{% for episode in episode_progress %}
<h6>{{ episode.name }}</h6>
<button id="show-all-{{ episode.id }}" class="btn btn-outline-primary btn-sm">Show All Teams</button>
<button id="hide-all-{{ episode.id }}" class="btn btn-outline-secondary btn-sm">Hide All Teams</button>
<canvas class="progress-graph" data-episode="{{ episode.id }}"></canvas>
{% endfor %}
