body, div, span, p, a, img, ul, ol, li, table, th, tr, td, form, fieldset, legend, dl, dt, dd, blockquote, applet, object { border:0; }
body {
	background-image: url(../images/body.jpg);
	background-repeat: repeat;
	font: 12px/1.3 Verdana, Arial, Helvetica, sans-serif;
	overflow-x: auto;
	 overflow-y: scroll;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: none;
}

.submit_butt {
	border: thin ridge #B6FF2B;
	background-color: #4F4D4D;
	color: #B4B4B4;
}

#arrows {
	background-repeat: no-repeat;
	background-position: left top, right bottom;
	width: 974px;
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
}

#inumber-1 {
	height: 81px;
	width: 73px;
	margin-left: 252px;
	padding-top: 58px;
	background-position: bottom;
	background-repeat: no-repeat;
	position: absolute;
}

#inumber-2 {
	height: 81px;
	width: 73px;
	padding-top: 58px;
	background-position: bottom;
	background-repeat: no-repeat;
	float: left;
	margin-left: 314px;
}

#wrapper {
	height: 90%;
	width: 974px;
	margin: auto;
}


#banner_bottom {
	height: 165px;
	background-color: #2d2c2c;
	border-radius: 25px 25px 0px 0px;
}

#nav_user {
	height: 32px;
	background-color: #4f4d4d;
	margin: 0px;
	background-repeat: no-repeat;
	padding-top: 5px;
	color:#B4B4B4;
}

#signup {
}


.align_right {
	text-align: right;
	padding-right: 20px;
}

.align_left {
	text-align: left;
	float: left;
	padding-left: 20px;
}

.textInput
{
background: #2b2b2b; 
border:1px solid black;
text-decoration:none;
color:#b4b4a4;
cursor: text;
}

.textInput:hover
{

border:1px solid black;
text-decoration:none;
color:#ffffff;
cursor: text;
}

.buttonInput
{
background: #2b2b2b; 
border:1px solid black;
text-decoration:none;
color:#b4b4a4;
cursor: pointer;
}

.buttonInput:hover
{

border:1px solid black;
text-decoration:none;
color:#ffffff;
cursor: pointer;
}

.buttonStyle
{
background: #2b2b2b; 
padding: 2px 5px;
border:1px solid black;
text-decoration:none;
color:#b4b4a4;
cursor: pointer;
}

.buttonStyle:hover
{

border:1px solid black;
text-decoration:none;
color:#ffffff;
cursor: pointer;
}

#team_table  {
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	text-align: center;
	border-collapse: collapse;
	font-family: Verdana, Geneva, sans-serif;
}

#team_table thead tr th {
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 10px;
	padding-right: 25px;
	padding-bottom: 0px;
	padding-left: 25px;
}

#team_table tr td {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #b4b4b4;
}

#team_table tbody tr:hover td{
	border-bottom-width: thin;
	border-bottom-style: solid;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	font-weight: normal;
	color: #FFF;
}

#team_table thead {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #b4b4b4;
}
#team_table a:hover {
	background:#363636; 
	text-decoration:none;
} 
	
#team_table a.tooltip span{
	display:none;
	padding:2px 3px;
	width:auto;
	margin-bottom: 15px;
	font-size: 12px;
}
#team_table a.tooltip:hover span{
	display:table-caption;
	position:absolute;
	border:1px solid #cccccc;
	background:#ffffff;
	color:#6c6c6c;
}

.riddleSkip {
	float: right;
	margin-top: -60px;
}

p#riddle_title {
	font-size: 24px;
	font-weight: bold;
	margin-top: 0px;
	padding-bottom: 8px;
	padding-top: 35px;
	border-bottom:1px solid #000;
}

#progressBar {
	margin-top: -98px;
	float: left;
	width: 860px;
	text-align: center;
	border: 1px solid #4f4d4d;
	border-radius: 5px;
}

#team_progress_table_layout {
	width: 450px;
	margin: 0 auto;
	background-color: #363636;
	border: 1px solid #4f4d4d;
	border-radius: 5px;
}

.teamProgress_table_layout {
	table-layout: fixed;
	white-space: nowrap;
	text-align: center;
}

.teamProgress_table_layout tbody tr:nth-child(odd) {
	background-color: #363636;
}

.teamProgress_table_layout tbody tr:nth-child(even) {
	background-color: #2d2c2c;
}

.teamProgress_table_layout tbody td {
	padding: 10px;
}

.teamProgress_table_layout thead th {
	padding: 10px;
	text-transform: uppercase;
	font-weight: bold;
}

.teamProgress_table_layout thead {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color:#4f4d4d;
	border-top-width: 0px;
	border-top-style: solid;
	border-top-color:#4f4d4d;
	text-align: center;
}

.teamProgress_table_layout {
	border-collapse: collapse;	
}

.teamDayProgress_table_layout tbody tr:nth-child(odd) {
	background-color: #363636;
}

.teamDayProgress_table_layout tbody tr:nth-child(even) {
	background-color: #2d2c2c;
}

.teamDayProgress_table_layout tbody td {
	padding: 10px;
}

.teamDayProgress_table_layout thead th {
	padding: 10px;
	text-transform: uppercase;
	font-weight: bold;
}

.teamDayProgress_table_layout thead {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color:#4f4d4d;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color:#4f4d4d;
	text-align: center;
}

.teamDayProgress_table_layout {
	border-collapse: collapse;	
}

/* Menu */

ul#menu
{
	padding:0;
	list-style-type:none;
	width:auto;
	position:relative;
	display:block;
	height:35px;
	font-size:16px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	}

ul#menu li
{
	display:block;
	float:none;
	margin:0;
	padding:0;
}
	
ul#menu li a
{
	display:block;
	float:left;
	color:#999999;
	text-decoration:none;
	font-weight:bold;
	padding:8px 20px 0 20px;
}
	
ul#menu li a:hover
{	
	color:#FFFFFF;
	height:22px;
}
	

ul#menu li a.current
{
	display:inline;
	height:22px;
	float:left;
	margin:0;
}
#menu .button {
	margin-right: auto;
	margin-left: auto;
	cursor: pointer;
}

/* Lightbox Effect */

.lighbox_overlay{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
 
.lightbox_content {
	padding: 10px;
	border: 1px solid black;
	background-color: #363636;
	overflow: auto;
	margin: 5px;
	height: 225px;
	font: 12px/1.3 Verdana, Arial, Helvetica, sans-serif;
	color:#B4B4B4;
}

.lightbox_wrapper {
	display: none;
	position: absolute;
	top: 180px;
	left: 50%;
	width: 800px;
	height: 300px;
	margin-left: -400px;
	border: 2px solid gray;
	background-color: #2d2c2c;
	z-index:1002;
	overflow: hidden;
}

.LightboxHeading
{
	font-size: 24px;
	font-weight: bold;
	color: #D2D2D2;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	float: left;
	width: 70%;
	height: 35px;
}

.LightboxClose
{
	text-align: right;
	padding-right: 10px;
	padding-top: 10px;
	float: right;
	width: 25%;
	height: 35px;
}

#answerBox
{
	text-align: center;
	font-size: 60px;
	font-family: Impact, Verdana, Arial;
}

.alertBox
{
position: absolute;
z-index: 500;
border: 3px solid black;
border-radius: 10px;
left: 50%;
margin-top: -10px;
margin-left: 5px;
width: 410px;
top: 20px;
overflow: hidden;
background-color: yellow;
padding: 5px;
display: none;
}

#RiddleAnnouncement{
	background-color: #2d2c2c;
	padding:7px;
	border: 2px solid #4f4d4d;
	border-radius: 10px;
	margin-top:5px;
	
}

.loginNotification
{
position: absolute;
z-index: 600;
left: 50%;
margin-left: 20px;
width: 405px;
top: 173px;
overflow: hidden;
color: #FFF;
font-size: 8px;
font-weight: bold;
text-align: right;
}

/* Apprise */

.appriseOverlay	{
	position:fixed;
	top:0;
	left:0;
	background:rgba(0, 0, 0, 0.5);
	display:none;
	z-index:99999999;
	}
.appriseOuter
	{
	background:#363636;
	border:1px solid #b4b4b4;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-khtml-border-radius:4px;
	position:absolute;
	z-index:99999999;
	min-width:200px;
	min-height:50px;
	max-width:75%;
	position:fixed;
	display:none;
	}
.appriseInner
	{
	padding:20px;
	color:#b4b4b4;
	}
.appriseInner button
	{
	border:1px solid #b4b4b4;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-khtml-border-radius:3px;
	background: 0;
  	color:#b4b4b4;
	font-size:12px;
	font-weight:bold;
	padding:4px 10px;
	margin:0 3px;
	cursor:pointer;
	}
.aButtons, .aInput
	{
	margin:20px 10px 0px 10px;
	text-align:center;
	}
.aTextbox
	{
	border:1px solid #aaa;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-khtml-border-radius:4px;
	box-shadow:0px 1px 0px #fff;
	-moz-box-shadow:0px 1px 0px #fff;
	-webkit-box-shadow:0px 1px 0px #fff;
	width:180px;
	font-size:12px;
	font-weight:bold;
	padding:5px 10px;
	}
	.appriseInner button:hover{
	color:#ffffff;
}
	
#backstory
{
width:820px;
background-color: #1E1E1E;
border: 2px solid #AF6F00;
-moz-border-radius: 15px;
border-radius: 15px;
padding: 5px 10px 5px 10px;
margin-bottom: 15px;
text-align: center;
font-size: 10px;
font-weight: bold;
float: left;
}
#storytext
{
width: 740px;
/*text-align: left;*/
font-size: 12px;
font-weight: normal;
float: left;
vertical-align:middle;
}

/* New Stuff: */

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding: 15px;
  background-color: #222;
  border-color: #080808;
  color: #9d9d9d;
}
html {
  position: relative;
  min-height: 100%;
}

