a.episode-link {
	font-size: x-large;
}

div.puzzle-list {
	align-content: center;
	align-items: center;
	display: flex;
	flex-flow: row wrap;
}

div.puzzle-box {
	display: flex;
	height: 15em;
	flex: 0 0 15em;
	margin: 1em;
	text-align: center;
}

div.puzzle-available {
	background: DarkSlateGrey;
}

div.puzzle-done {
	background: SlateGrey;
}

a.puzzle-link {
	color: White;
	margin: auto;
	font-size: x-large;
}

*[id$='-error'] {
	color: red;
}
