ul#admin_nav {
	list-style-position: inherit;
	list-style-type: none;
	height: 136px;
}

ul#admin_nav li {
	display: inline;
	width: 136px;
	float: left;
	background-position: bottom;
}

ul#admin_nav .users {
	background-image:url(../images/admin/users.png);
	width: 136px;
	height: 136px;
	background-repeat: no-repeat;
	margin-right: 10px;
	margin-left: 10px;
}

ul#admin_nav .teams {
	background-image:url(../images/admin/teams.png);
	width: 136px;
	height: 136px;
	background-repeat: no-repeat;
	margin-right: 10px;
	margin-left: 10px;
}

ul#admin_nav .riddles {
	background-image:url(../images/admin/riddles.png);
	width: 136px;
	height: 136px;
	background-repeat: no-repeat;
	margin-right: 10px;
	margin-left: 10px;
}

ul#admin_nav .logs {
	background-image:url(../images/admin/logs.png);
	width: 136px;
	height: 136px;
	background-repeat: no-repeat;
	margin-right: 10px;
	margin-left: 10px;
}

ul#admin_nav .settings {
	background-image:url(../images/admin/settings.png);
	width: 136px;
	height: 136px;
	background-repeat: no-repeat;
	margin-right: 10px;
	margin-left: 10px;
}

ul#admin_nav .teamsSelected {
	background-image:url(../images/admin/teams.png);
	width: 136px;
	height: 136px;
	background-repeat: no-repeat;
	margin-right: 10px;
	margin-left: 10px;
	background-position: 0 0;
}

ul#admin_nav .usersSelected {
	background-image:url(../images/admin/users.png);
	width: 136px;
	height: 136px;
	background-repeat: no-repeat;
	margin-right: 10px;
	margin-left: 10px;
	background-position: 0 0;
}

ul#admin_nav .riddlesSelected {
	background-image:url(../images/admin/riddles.png);
	width: 136px;
	height: 136px;
	background-repeat: no-repeat;
	margin-right: 10px;
	margin-left: 10px;
	background-position: 0 0;
}

ul#admin_nav .logsSelected {
	background-image:url(../images/admin/logs.png);
	width: 136px;
	height: 136px;
	background-repeat: no-repeat;
	margin-right: 10px;
	margin-left: 10px;
	background-position: 0 0;
}

ul#admin_nav .settingsSelected {
	background-image:url(../images/admin/settings.png);
	width: 136px;
	height: 136px;
	background-repeat: no-repeat;
	margin-right: 10px;
	margin-left: 10px;
	background-position: 0 0;
}

ul#admin_nav li:hover {
	background-position: 0 0;
}

#admin_icon  {
	height: 35px;
	width: 150px;
	float: right;
	padding-bottom: -50px;
}

.box_titles {
	padding-left: 50px;
	padding-top: 10px;
	padding-right: 20px;
}

.adminstats {
	width: 752px;
	background-color: #2d2c2c;
	border: 4px solid #4f4d4d;
	border-radius: 10px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding-bottom: 10px;
	}
.adminnotes {
	width: 752px;
	background-color: #2d2c2c;
	border: 4px solid #4f4d4d;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 20px;
	}
.adminstats .stats_logo {
	background-image: url(../images/admin/statslogo.png);
	height: 64px;
	width: 64px;
	margin-top: -10px;
	margin-left: -20px;
	float: left;
}
.adminstats .settings_logo {
	background-image: url(../images/admin/settingslogo.png);
	height: 64px;
	width: 64px;
	margin-top: -10px;
	margin-left: -20px;
	float: left;
}
.adminnotes .notes_logo {
	background-image: url(../images/admin/noteslogo.png);
	height: 64px;
	width: 64px;
	margin-top: -10px;
	margin-left: -20px;
	float: left;
}

.adminnotes .actions_logo {
	background-image: url(../images/admin/actionslogo.png);
	height: 64px;
	width: 64px;
	margin-top: -10px;
	margin-left: -20px;
	float: left;
}

.adminstats .riddles_logo {
	background-image: url(../images/admin/riddleslogo.png);
	height: 64px;
	width: 64px;
	margin-top: -10px;
	margin-left: -20px;
	float: left;
}

.adminstats .logs_logo {
	background-image: url(../images/admin/logslogo.png);
	height: 64px;
	width: 64px;
	margin-top: -10px;
	margin-left: -20px;
	float: left;
}

.adminstats .user_logo {
	background-image: url(../images/admin/userlogo.png);
	height: 64px;
	width: 64px;
	margin-top: -10px;
	margin-left: -20px;
	float: left;
}

.adminstats .team_logo {
	background-image: url(../images/admin/teamlogo.png);
	height: 64px;
	width: 64px;
	margin-top: -10px;
	margin-left: -20px;
	float: left;
}

.newnotesbutt {
	margin-top: -60px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}

#adminwrapper {
	margin-right: auto;
	margin-left: 0;

}

.adminnotes .notes_table {
	padding: 0 25px 25px 25px;
	
}

#notes_table_layout tbody tr:nth-child(odd) {
	background-color: #363636;
}

#notes_table_layout tbody tr:nth-child(even) {
	background-color: #2d2c2c;
}

#notes_table_layout tbody td {
	padding: 10px;
}

#notes_table_layout thead th {
	padding: 10px;
	text-transform: uppercase;
	font-weight: bold;
}

#notes_table_layout thead {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color:#4f4d4d;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color:#4f4d4d;
	text-align: center;
}

#notes_table_layout {
	border-collapse: collapse;	
}

.customStyleSelectBox { 
	font-size:11px; 
		background-color: #2b2b2b; 
		color:#b4b4a4; 
		padding:5px 7px; 
		border:1px solid black; 
		-moz-border-radius: 5px; 
		-webkit-border-radius: 5px;
		border-radius: 5px 5px; 
}
.customStyleSelectBoxInner { 
	background:url(../images/canvas-list-nav-item-arrow-.gif) no-repeat center right; 
	padding-right: 10px; 
}

.switcher-content {
  display: none;
}

.riddleStats {
	background-color: #363636;
	float: right; 
	width: 250px; 
	height: 100%;
	padding: 5px 5px;
	border: 1px solid #4f4d4d;
	margin-bottom: 5px;
	border-radius: 5px;
}

/* Time Picker Addon */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
