<div class="admin_progress_widget">
	<div id="auto_update" class="d-flex flex-row">
		<input type="checkbox" v-model="autoUpdate" id="auto-update" />
		<label for="auto-update">Update automatically</label>
	</div>

	<div class="card" id="admin-progress-filters-key">
		<b-card-header id="admin-progress-filters-header">
			<b-button block variant="light" v-b-toggle.filter-help-body>Filters &amp; Help...</b-button>
		</b-card-header>
		<b-collapse id="filter-help-body">
			<b-card-body class="d-flex flex-row justify-content-between">
				<b-card-text id="admin-progress-filters-container" class="p-2 flex-grow-1">
					<h4>Filters</h4>
					<span class="glyphicon glyphicon-plus"/>
					<p><a href="?" v-on:click.prevent="clearFilters">Reset</a></p>
					<div>
						<template v-for="episode in episodes">
							<input type="checkbox" :id="'filter-episode-' + episode" :value="episode"
								   v-model="filters.episodes">
							<label :for="'filter-episode-' + episode" class="episode-label">Episode {{ episode }}</label>
						</template>
					</div>
					<label for="filter-open-puzzles">
						Number of Open Puzzles
						(<input type="checkbox" id="filter-no-hints" v-model="filters.no_hints">
						<label for="filter-no-hints" class="no-margin">with no scheduled hints</label>)
					</label>
					<el-slider
							id="filter-open-puzzles"
							v-model="filters.open_puzzles"
							range
							:max="puzzles.length || Infinity"
					></el-slider>
					<label for="filter-latest-guess">Minutes since Last Guess</label>
					<el-slider
							id="filter-latest-guess"
							v-model="filters.latest_guess"
							range
							:max="oldest_latest_guess / (60 * 1000) + 1"
					></el-slider>
					<label for="filter-total-guesses">Total Guesses</label>
					<el-slider
							id="filter-total-guesses"
							v-model="filters.total_guesses"
							range
							:max="max_total_guesses"
					></el-slider>
				</b-card-text>
				<b-card-text id="admin-progress-key-container" class="p-4">
					<h4>Key</h4>
					<table class="card-body">
						<thead>
							<tr>
								<th>Team has...</th>
								<th>Indicated by...</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Not opened the puzzle</td>
								<td><progress-state :state="{state: 'not_opened'}"/></td>
							</tr>
							<tr>
								<td>Opened but not guessed</td>
								<td<progress-state :state="{state: 'open', 'guesses': 0, hints_scheduled: true, latest_guess: null}"/></td>
							</tr>
							<tr>
								<td>Guessed once just now</td>
								<td><progress-state :state="{state: 'open', 'guesses': 1, hints_scheduled: true, latest_guess: Date.now()}"/></td>
							</tr>
							<tr>
								<td>
									25 guesses,<br>
									latest 30 minutes ago
								</td>
								<td><progress-state :state="{state: 'open', 'guesses': 10, hints_scheduled: true, latest_guess: this.now().minus({minutes: 30}).toISO()}"/></td>
							</tr>
							<tr>
								<td>
									250; latest 10m ago;<br>
									no more hints scheduled
								</td>
								<td><progress-state :state="{state: 'open', 'guesses': 250, hints_scheduled: false, latest_guess: this.now().minus({minutes: 10}).toISO()}"/></td>
							</tr>
							<tr>
								<td>Solved the puzzle</td>
								<td><progress-state :state="{state: 'solved'}"/></td>
							</tr>
						</tbody>
					</table>
				</b-card-text>
			</b-card-body>
		</b-collapse>
	</div>
	<b-table class="admin-progress-table" :fields="fields" :items="progress_data">
		<template v-slot:cell(team)="team">
			<a :href="team.value.url">{{ team.value.name }}</a>
		</template>
		<template class="progress-cell" v-slot:cell()="state">
			<a :href="state.item.team.url + '#puzzle-' + state.unformatted.puzzle_id" :title="hover_info(state.unformatted)">
				<progress-state :state="state.unformatted" :row="state.index" :col="state.field"/>
			</a>
		</template>
	</b-table>
</div>
